motorcycle.json
[{"id":"426d4ac1.724d04","type":"subflow","name":"Process offline file","info":"","in":[{"x":50,"y":283,"wires":[{"id":"199fd348.c1830d"}]}],"out":[]},{"id":"199fd348.c1830d","type":"file in","z":"426d4ac1.724d04","name":"Offline file","filename":"/home/pi/toProcess.json","format":"utf8","x":190,"y":283,"wires":[["b9d4a8ba.255238"]]},{"id":"b9d4a8ba.255238","type":"csv","z":"426d4ac1.724d04","name":"","sep":",","hdrin":"","hdrout":"","multi":"mult","ret":"\\n","temp":"","x":338,"y":280,"wires":[["b83db0a8.6b0af","361a2981.ab4916"]]},{"id":"b83db0a8.6b0af","type":"function","z":"426d4ac1.724d04","name":"Split","func":"msg.payload.forEach(function(item, index){\n    if (context.global.serverOffline != null || !context.global.serverOffline)\n    {\n        node.send({payload:item[\"col1\"].data});\n    }\n});\nreturn msg;","outputs":1,"noerr":0,"x":189,"y":366,"wires":[["46783327.6e887c"]]},{"id":"d77bb827.7e3d88","type":"http request","z":"426d4ac1.724d04","name":"Save to Server","method":"POST","ret":"txt","url":"https://moto-tracker.herokuapp.com/rootes/new_entry","x":666,"y":242,"wires":[["33b8a2d4.68367e"]]},{"id":"7c879fa8.47fda","type":"delay","z":"426d4ac1.724d04","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":306,"wires":[["d77bb827.7e3d88"]]},{"id":"33b8a2d4.68367e","type":"function","z":"426d4ac1.724d04","name":"Server offline?","func":"context.global.serverOffline = msg.statusCode != 200;\nreturn msg;","outputs":1,"noerr":0,"x":774,"y":308,"wires":[[]]},{"id":"46783327.6e887c","type":"function","z":"426d4ac1.724d04","name":"Format for API","func":"msg.url = \"https://moto-tracker.herokuapp.com/rootes/new_entry\";\nmsg.headers = {\"DEVICE-TOKEN\": \"D16tL9tgBz2mKgcHullQB3kquwoRFtY4N0tLx1ksqRpZBSvZGEFgclrY6SrM\"};\nmsg.payload = {data: msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":358,"y":366,"wires":[["7c879fa8.47fda"]]},{"id":"361a2981.ab4916","type":"debug","z":"426d4ac1.724d04","name":"","active":true,"console":"false","complete":"false","x":490,"y":202,"wires":[]},{"id":"52158b32.5b8fd4","type":"subflow","name":"Save to Server/File","info":"","in":[{"x":45,"y":242,"wires":[{"id":"a153a7b.09f6258"}]}],"out":[]},{"id":"a153a7b.09f6258","type":"function","z":"52158b32.5b8fd4","name":"Format for API","func":"msg.url = \"https://moto-tracker.herokuapp.com/rootes/new_entry\";\nmsg.headers = {\"DEVICE-TOKEN\": \"D16tL9tgBz2mKgcHullQB3kquwoRFtY4N0tLx1ksqRpZBSvZGEFgclrY6SrM\"};\nmsg.payload = {data: msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":207,"y":186,"wires":[["439e7320.cf402c","73421992.5290d8"]]},{"id":"439e7320.cf402c","type":"http request","z":"52158b32.5b8fd4","name":"Save to Server","method":"POST","ret":"txt","url":"","x":413,"y":237,"wires":[["7f28b1d.0359c5"]]},{"id":"f4b9997f.f414f8","type":"file","z":"52158b32.5b8fd4","name":"Offline file","filename":"/home/pi/toProcess.json","appendNewline":true,"createDir":true,"overwriteFile":"false","x":696,"y":294,"wires":[]},{"id":"73421992.5290d8","type":"change","z":"52158b32.5b8fd4","name":"Set topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"data","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":305,"wires":[["f822b6fe.44b228"]]},{"id":"f822b6fe.44b228","type":"function","z":"52158b32.5b8fd4","name":"Unite","func":"context.data = context.data || {};\nswitch(msg.topic){\n    case \"data\":\n        context.data.data = msg.payload;\n        msg = null;\n        break;\n    case \"response\":\n        context.data.response = msg.statusCode;\n        msg = null;\n        break;\n    default:\n        msg = null\n        break;\n}\n\nif(context.data.data != null && context.data.response != null) {\n    if(context.data.response != 200)\n    {\n        return [{payload: context.data.data + \",\"}, ];\n    }\n    else\n    {\n        return [,{payload: true}]\n    }\n}\nelse\n{\n    return msg;\n}","outputs":"2","noerr":0,"x":502,"y":303,"wires":[["f4b9997f.f414f8"],["e479a6b5.32b8c8"]]},{"id":"7f28b1d.0359c5","type":"change","z":"52158b32.5b8fd4","name":"Set topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"response","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":619,"y":242,"wires":[["f822b6fe.44b228"]]},{"id":"e479a6b5.32b8c8","type":"subflow:426d4ac1.724d04","z":"52158b32.5b8fd4","name":"","x":715.5,"y":367.5,"wires":[]},{"id":"fc541fe2.f27f3","type":"serial-port","z":"9cb743a4.ca71d","serialport":"/dev/ttyUSB0","serialbaud":"4800","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"6ad7c37a.0d5dbc","type":"serial in","z":"9cb743a4.ca71d","name":"GPS Receiver","serial":"fc541fe2.f27f3","x":75,"y":318,"wires":[["2bd67f4f.7a2a7"]]},{"id":"2bd67f4f.7a2a7","type":"function","z":"9cb743a4.ca71d","name":"Filter","func":"if( msg.payload.indexOf('$GPRMC') > -1 )\n{\n    return [msg, , , , ];\n}","outputs":"5","noerr":0,"x":206,"y":217,"wires":[["323bef1.a93651"],[],[],[],[]]},{"id":"c4a34547.7e9ec8","type":"comment","z":"9cb743a4.ca71d","name":"GPRMC","info":"$GPRMC,164211.000,A,5309.8667,N,00111.0734,W,0.00,189.38,170716,,,A*71\n\n|No | Name | Example | Unit | Description |\n|------|---------|------|-------------|\n|0|**Message ID**| $GPRMC| |RMC protocol header|\n|1|**UTC Time**| 161229.487| | hhmmss.sss\n|2|**Status**| A | | A=data valid or V=data not valid|\n|3|**Latitude**| 3723.2475 | | ddmm.mmmm|\n|4|**N/S Indicator**| N | | N=north or S=south|\n|5|**Longitude**| 12158.3416| | dddmm.mmmm|\n|6|**E/W Indicator**| W | |E=east or W=west|\n|7|**Speed Over Ground **| 0.13| | knots|\n|8|**Course Over Ground**| 309.62| degrees| True|\n|9|**Date**| 120598 | |ddmmyy|\n|10|**Magnetic Variation2**| |degrees| E=east or W=west|\n|11|**East/West Indicator2**| E | |E=east|\n|12|**Checksum **| *10| | |\n|13|**<CR> <LF>**| ||End of message termination|","x":349,"y":79,"wires":[]},{"id":"323bef1.a93651","type":"delay","z":"9cb743a4.ca71d","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":359,"y":125,"wires":[["93e3cfd5.e3331","86e69637.65fba8"]]},{"id":"93e3cfd5.e3331","type":"subflow:52158b32.5b8fd4","z":"9cb743a4.ca71d","x":545,"y":67,"wires":[]},{"id":"86e69637.65fba8","type":"debug","z":"9cb743a4.ca71d","name":"","active":false,"console":"false","complete":"false","x":533,"y":125,"wires":[]}]