motorcycle.json
[{"id":"faadd5d3.247638","type":"subflow","name":"Send SMS","info":"Send SMS with Gammu","in":[{"x":50,"y":30,"wires":[{"id":"41e86366.5a2a6c"},{"id":"b493602.0c656a"}]}],"out":[]},{"id":"41e86366.5a2a6c","type":"function","z":"faadd5d3.247638","name":"Gammu command","func":"var server = '07860039721';\n\nmsg.payload = 'echo \"' + msg.payload + '\" | sudo gammu sendsms TEXT ' + server;\nreturn msg;","outputs":1,"noerr":0,"x":197,"y":147,"wires":[["a69ff6d3.3ef738"]]},{"id":"a69ff6d3.3ef738","type":"exec","z":"faadd5d3.247638","command":"","addpay":true,"append":"","useSpawn":"","name":"Send SMS","x":414,"y":140.5,"wires":[["a61f0a1b.4c0ef8"],[],[]]},{"id":"a61f0a1b.4c0ef8","type":"debug","z":"faadd5d3.247638","name":"","active":true,"console":"false","complete":"false","x":747,"y":95,"wires":[]},{"id":"b493602.0c656a","type":"debug","z":"faadd5d3.247638","name":"","active":true,"console":"false","complete":"false","x":281,"y":61,"wires":[]},{"id":"64b7b5bb.1b086c","type":"subflow","name":"Process offline file","info":"","in":[{"x":50,"y":283,"wires":[{"id":"4eeb023a.bedaec"}]}],"out":[]},{"id":"4eeb023a.bedaec","type":"file in","z":"64b7b5bb.1b086c","name":"Offline file","filename":"/home/pi/toProcess.json","format":"utf8","x":190,"y":283,"wires":[["b546b94.9b73648"]]},{"id":"b546b94.9b73648","type":"csv","z":"64b7b5bb.1b086c","name":"","sep":",","hdrin":"","hdrout":"","multi":"mult","ret":"\\n","temp":"","x":338,"y":280,"wires":[["400ccb01.d01504","c031b63e.127f68"]]},{"id":"400ccb01.d01504","type":"function","z":"64b7b5bb.1b086c","name":"Split","func":"msg.payload.forEach(function(item, index){\n    if (context.global.serverOffline != null || !context.global.serverOffline)\n    {\n        node.send({payload:item[\"col1\"].data});\n    }\n});\nreturn msg;","outputs":1,"noerr":0,"x":189,"y":366,"wires":[["de0f1188.e109d"]]},{"id":"8fb26b44.1c0c28","type":"http request","z":"64b7b5bb.1b086c","name":"Save to Server","method":"POST","ret":"txt","url":"https://moto-tracker.herokuapp.com/rootes/new_entry","x":666,"y":242,"wires":[["3d3f39aa.149fa6"]]},{"id":"15139faa.10e1","type":"delay","z":"64b7b5bb.1b086c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":306,"wires":[["8fb26b44.1c0c28"]]},{"id":"3d3f39aa.149fa6","type":"function","z":"64b7b5bb.1b086c","name":"Server offline?","func":"context.global.serverOffline = msg.statusCode != 200;\nreturn msg;","outputs":1,"noerr":0,"x":774,"y":308,"wires":[[]]},{"id":"de0f1188.e109d","type":"function","z":"64b7b5bb.1b086c","name":"Format for API","func":"msg.url = \"https://moto-tracker.herokuapp.com/rootes/new_entry\";\nmsg.headers = {\"DEVICE-TOKEN\": \"D16tL9tgBz2mKgcHullQB3kquwoRFtY4N0tLx1ksqRpZBSvZGEFgclrY6SrM\"};\nmsg.payload = {data: msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":358,"y":366,"wires":[["15139faa.10e1"]]},{"id":"c031b63e.127f68","type":"debug","z":"64b7b5bb.1b086c","name":"","active":true,"console":"false","complete":"false","x":490,"y":202,"wires":[]},{"id":"b048515.fe8e2b","type":"subflow","name":"Save to Server/File","info":"","in":[{"x":38,"y":239,"wires":[{"id":"169c0dbb.152502"}]}],"out":[]},{"id":"40593e44.b84d6","type":"function","z":"b048515.fe8e2b","name":"Format for API","func":"msg.headers = {\"DEVICE-TOKEN\": \"D16tL9tgBz2mKgcHullQB3kquwoRFtY4N0tLx1ksqRpZBSvZGEFgclrY6SrM\"};\nmsg.payload = {data: msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":207,"y":186,"wires":[["ee317624.68ef98","24b8dd9a.674612"]]},{"id":"ee317624.68ef98","type":"http request","z":"b048515.fe8e2b","name":"Save to Server","method":"POST","ret":"txt","url":"https://moto-tracker.herokuapp.com/api/v1/location/new","x":413,"y":237,"wires":[["d9aa0edc.fd6d5"]]},{"id":"a7e45dd9.753d4","type":"file","z":"b048515.fe8e2b","name":"Offline file","filename":"/home/pi/toProcess.json","appendNewline":true,"createDir":true,"overwriteFile":"false","x":696,"y":294,"wires":[]},{"id":"24b8dd9a.674612","type":"change","z":"b048515.fe8e2b","name":"Set topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"data","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":305,"wires":[["21be153b.ff4a3a"]]},{"id":"21be153b.ff4a3a","type":"function","z":"b048515.fe8e2b","name":"Unite","func":"context.data = context.data || {};\nswitch(msg.topic){\n    case \"data\":\n        context.data.data = msg.payload;\n        msg = null;\n        break;\n    case \"response\":\n        context.data.response = msg.statusCode;\n        msg = null;\n        break;\n    default:\n        msg = null\n        break;\n}\n\nif(context.data.data != null && context.data.response != null) {\n    if(context.data.response != 200)\n    {\n        return [{payload: context.data.data + \",\"}, ];\n    }\n    else\n    {\n        return [,{payload: true}]\n    }\n}\nelse\n{\n    return msg;\n}","outputs":"2","noerr":0,"x":502,"y":303,"wires":[[],[]]},{"id":"d9aa0edc.fd6d5","type":"change","z":"b048515.fe8e2b","name":"Set topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"response","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":619,"y":242,"wires":[["21be153b.ff4a3a"]]},{"id":"52b9793a.1d4b08","type":"subflow:64b7b5bb.1b086c","z":"b048515.fe8e2b","name":"","x":715.5,"y":367.5,"wires":[]},{"id":"169c0dbb.152502","type":"subflow:faadd5d3.247638","z":"b048515.fe8e2b","name":"","x":210,"y":359,"wires":[]},{"id":"11e85b03.7e8af5","type":"serial-port","z":"7d8d83da.5746bc","serialport":"/dev/ttyUSB0","serialbaud":"4800","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"10633713.59fac9","type":"serial in","z":"7d8d83da.5746bc","name":"GPS Receiver","serial":"11e85b03.7e8af5","x":85,"y":392,"wires":[["8e4da268.ba311"]]},{"id":"4cd5f0f6.1c697","type":"function","z":"7d8d83da.5746bc","name":"Filter","func":"if( msg.payload.indexOf('$GPRMC') > -1 )\n{\n    return [msg, , , , ];\n}","outputs":"5","noerr":0,"x":486,"y":236,"wires":[["2025ff8b.90584"],[],[],[],[]]},{"id":"5970e9c9.f4cae8","type":"comment","z":"7d8d83da.5746bc","name":"GPRMC","info":"$GPRMC,164211.000,A,5309.8667,N,00111.0734,W,0.00,189.38,170716,,,A*71\n\n|No | Name | Example | Unit | Description |\n|------|---------|------|-------------|\n|0|**Message ID**| $GPRMC| |RMC protocol header|\n|1|**UTC Time**| 161229.487| | hhmmss.sss\n|2|**Status**| A | | A=data valid or V=data not valid|\n|3|**Latitude**| 3723.2475 | | ddmm.mmmm|\n|4|**N/S Indicator**| N | | N=north or S=south|\n|5|**Longitude**| 12158.3416| | dddmm.mmmm|\n|6|**E/W Indicator**| W | |E=east or W=west|\n|7|**Speed Over Ground **| 0.13| | knots|\n|8|**Course Over Ground**| 309.62| degrees| True|\n|9|**Date**| 120598 | |ddmmyy|\n|10|**Magnetic Variation2**| |degrees| E=east or W=west|\n|11|**East/West Indicator2**| E | |E=east|\n|12|**Checksum **| *10| | |\n|13|**<CR> <LF>**| ||End of message termination|","x":446,"y":113,"wires":[]},{"id":"db9adaa6.779a68","type":"subflow:b048515.fe8e2b","z":"7d8d83da.5746bc","x":847,"y":110,"wires":[]},{"id":"2025ff8b.90584","type":"delay","z":"7d8d83da.5746bc","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":650,"y":238,"wires":[["9bb492af.196ae","6d9bb843.c00288"]]},{"id":"8e4da268.ba311","type":"switch","z":"7d8d83da.5746bc","name":"","property":"sms","propertyType":"global","rules":[{"t":"null"},{"t":"false"}],"checkall":"false","outputs":2,"x":182,"y":285,"wires":[["d2bcfda5.313c1"],["d2bcfda5.313c1"]]},{"id":"9bb492af.196ae","type":"change","z":"7d8d83da.5746bc","name":"","rules":[{"t":"set","p":"sms","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":709,"y":188,"wires":[["db9adaa6.779a68"]]},{"id":"d2bcfda5.313c1","type":"change","z":"7d8d83da.5746bc","name":"","rules":[{"t":"set","p":"sms","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":342,"y":258,"wires":[["4cd5f0f6.1c697"]]},{"id":"6d9bb843.c00288","type":"debug","z":"7d8d83da.5746bc","name":"","active":true,"console":"false","complete":"false","x":904,"y":273,"wires":[]},{"id":"50e0aa7e.e4adc4","type":"inject","z":"7d8d83da.5746bc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":118,"y":72,"wires":[["d952def5.c17e9"]]},{"id":"d952def5.c17e9","type":"change","z":"7d8d83da.5746bc","name":"","rules":[{"t":"set","p":"sms","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":285,"y":64,"wires":[[]]}]