watson.json
[{"id":"f84fa501.4fc718","type":"wiotp-credentials","z":"8387fc96.f0e57","name":"Tracker1","org":"zejlnm","devType":"Pi3","devId":"Test"},{"id":"8f3fb912.6ff5d8","type":"inject","z":"8387fc96.f0e57","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"x":102,"y":840,"wires":[["18eb8d38.048d53"]]},{"id":"18eb8d38.048d53","type":"exec","z":"8387fc96.f0e57","command":"vcgencmd","addpay":false,"append":"measure_temp","useSpawn":"","name":"getCPUtemp","x":319,"y":918.5,"wires":[["5c7111e0.6bbf8","76580986.477218"],[],[]]},{"id":"5c7111e0.6bbf8","type":"debug","z":"8387fc96.f0e57","name":"","active":true,"console":"false","complete":"payload","x":608,"y":838.5,"wires":[]},{"id":"76580986.477218","type":"function","z":"8387fc96.f0e57","name":"msg.payload","func":"msg.payload = {\"d\":{\"temp\":msg.payload.replace(\"temp=\",\"\").replace(\"'C\\n\",\"\")}};\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1028,"wires":[["5c7111e0.6bbf8","3de1b3d1.c8cf3c","55ec3c5c.914a84","c87a2045.360bb"]]},{"id":"3de1b3d1.c8cf3c","type":"wiotp out","z":"8387fc96.f0e57","authType":"d","qs":"true","qsDeviceId":"e1f1bfcf.0fae18","deviceKey":"","deviceType":"","deviceId":"","event":"event","format":"json","name":"","x":708,"y":964.5,"wires":[]},{"id":"55ec3c5c.914a84","type":"wiotp out","z":"8387fc96.f0e57","authType":"d","qs":"true","qsDeviceId":"e1f1bfcf.0fae18","deviceKey":"","deviceType":"","deviceId":"","event":"event","format":"json","name":"","x":647,"y":1061,"wires":[]},{"id":"c87a2045.360bb","type":"wiotp out","z":"8387fc96.f0e57","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"f84fa501.4fc718","deviceType":"","deviceId":"","event":"event","format":"json","name":"test","x":568,"y":1144,"wires":[]}]